/* bg colours */
$yellow: #fec646;
$grey: #e2dedc;
$brown: #533634;
/* font colours */
$fyellow: #533634;
$fgrey: #8e3f59;
$fbrown: #fec646;

/* angular */
[ng\:cloak], 
[ng-cloak], 
.ng-cloak {
  display: none !important;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin horizontal-center() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin vertical-left() {
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

@mixin vertical-right() {
  -webkit-box-pack: flex-end;
  -moz-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

@mixin vertical-center() {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

html,
body {
  font-family: Helvetica, Arial, Sans-serif;
  height:100%;
  margin:0;
  overflow: hidden;
  padding:0;
  width:100%;
}

h1,h2,h3,p {
  margin: 0;
}

/*p { 
  font-family: 'FuturaRenner'; 
  font-weight: normal; 
  font-style: normal; 
}*/

/* font */
.up {
  text-transform: uppercase;
}

.cap {
  text-transform: capitalize;
}

.futura {
  font-family: 'futura';
  /*font-family: 'FuturaBook-Normal Regular';*/
  font-weight: 100;
}

.minion {
  font-family: 'MinionPro';
}

/* menu icon */
.menu-icon {
  cursor: pointer;
  display: inline-block;
  height: 50px;
  position: fixed;
  right: .5em;
  text-align: right;
  top: .5em;
  width: 50px;
  z-index: 101;
  -webkit-transition: opacity 0.2s 1.6s ease-out;
  -moz-transition: opacity 0.2s 1.6s ease-out;
  -o-transition: opacity 0.2s 1.6s ease-out;
  transition: opacity 0.2s 1.6s ease-out;
}

.menu-icon span:before,
.menu-icon span:after {
  width: 30px;
  height: 5px;
  display: inline-block;
  background: #000;
  position: absolute;
  left: 0;
  content: " ";
  transform-origin: 50% 50%;
  -webkit-transition: top 0.2s 0.2s ease-out, -webkit-transform 0.2s linear;
  -moz-transition: top 0.2s 0.2s ease-out, -moz-transform 0.2s linear;
  -o-transition: top 0.2s 0.2s ease-out, -o-transform 0.2s linear;
  transition: top 0.2s 0.2s ease-out, transform 0.2s -out;
}

.menu-icon span {
  width: 30px;
  height: 5px;
  position: relative;
  display: inline-block;
  background: #000;
  /*-webkit-transition: background 0.4s ease-out;
  -moz-transition: background 0.4s ease-out;
  -o-transition: background 0.4s ease-out;
  transition: background 0.4s ease-out;*/
}

.menu-icon span:after {
  top: -9px;
}

.menu-icon span:before {
  top: 9px;
}

.menu-icon.close span:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  -moz-transform: rotate3d(0, 0, 1, 45deg);
  -o-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.menu-icon.close span:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  -o-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.menu-icon.close span {
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  background-color: transparent;
}

.menu-icon.close span:before, 
.menu-icon.close span:after {
  -webkit-transition: top 0.2s ease-out, -webkit-transform 0.2s 0.2s ease-out, background 0.2s ease-out;
  -moz-transition: top 0.2s ease-out, -moz-transform 0.2s 0.2s ease-out, background 0.2s ease-out;
  -o-transition: top 0.2s ease-out, -o-transform 0.2s 0.2s ease-out, background 0.2s ease-out;
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out, background 0.2s ease-out;
  top: 0;
  width: 30px;
  background-color: #000;
}

nav {
  position: absolute;
  right: .5em;
  top: .5em;
  z-index: 101;
  .icon-reorder {
    font-size: 28px;
  }
  &.navbrown .menu-icon span:before,
  &.navbrown .menu-icon span:after,
  &.navbrown .menu-icon span {
    background: $fbrown;
  }
  &.navcollabo .menu-icon span:before,
  &.navcollabo .menu-icon span:after,
  &.navcollabo .menu-icon span {
    background: $fgrey;
  }
  &.navyellow .menu-icon span:before,
  &.navyellow .menu-icon span:after,
  &.navyellow .menu-icon span {
    background: $fyellow;
  }
  &.navbrown .menu-icon.close span,
  &.navcollabo .menu-icon.close span,
  &.navyellow .menu-icon.close span {
    background-color: transparent;
  }
}

a.sidebrown.close {
  span:before,
  span:after {
    background: $fbrown;
  }
  &:hover span:before,
  &:hover span:after,
  &:active span:before,
  &:active span:after {
    background: $fbrown;
  }
}
a.sidecollabo.close {
  span:before,
  span:after {
    background: $fgrey;
  }
  &:hover span:before,
  &:hover span:after,
  &:active span:before,
  &:active span:after {
    background: $fgrey;
  }
}
a.sideyellow.close {
  span:before,
  span:after {
    background: $fyellow;
  }
  &:hover span:before,
  &:hover span:after,
  &:active span:before,
  &:active span:after {
    background: $yellow;
  }
}

#sidebar {
  background: $grey;
  box-shadow: -1px 0 5px rgba(0,0,0,.3);
  height: 100%;
  padding-top: 4em;
  position: absolute;
  -webkit-transition: right ease-out .25s;
  transition: right ease-out .25s;
  right: 0;
  top: 0;
  width: 200px;
  z-index: 100;
  a {
    color: #000;
    cursor: pointer;
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  a:hover,
  a:active {
      background: #000;
      color: #fff;
  }
  &.sidebrown {
    a {
      color: $brown;
    }
    a:hover,
    a:active {
      background: $fbrown;
      color: $brown;
    }
  }
  &.sidecollabo {
    a {
      color: $fgrey;
    }
    a:hover,
    a:active {
      background: $fgrey;
      color: #fff;
    }
  }
  &.sideyellow {
    a {
      color: $fyellow;
    }
    a:hover,
    a:active {
      background: $yellow;
      color: #fff;
    }
  }
}

#sidebar.ng-hide {
  right: -200px;
}

#sidebar.ng-hide-add, 
#sidebar.ng-hide-remove {
  display:block!important;
}

#closebutton {
  right: 1em;
  top: 1em;
}

/* index.html */
#container {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
/*  > div {
    height: 100%;
    overflow-y: scroll;
    padding: 4em 3em;
  }*/
}

#container::-webkit-scrollbar {  
  display: none;
}

.l-box {
  padding: 1em;
}

#main {
  height: 100%;
}

#main-tabs {
  @include horizontal-center();
  @include vertical-center();
  width: 100%;
  height: 100%;
  > a {
    height: 8vw;
    text-indent: -999em;
    width: 8vw;
  }
  #tabs-gaps {
    background: $yellow;
    p {
      border: 1px solid red;
      position: relative;
      top: 0;
      color: #000;
      left: 0;
      display: block;
      width: 100px;
      height: 20px;
      z-index: 1000000000;
    }
  }
  #tabs-dickies {
    background: $grey;
  }
  #tabs-oracles {
    background: $brown;
  }
  /*#tabs-gaps:hover,
  #tabs-dickies:hover,
  #tabs-oracles:hover {
    p {
      display: block;
    }
  }*/
}

.pure-u-1 > h1 {
  text-align: center;
}

.sections {
  padding: 3em 12em;
}

/* each page */
/*** only background / nav class name ***/
#about-brown,
#work-brown,
#cv-brown {
  background: $brown;
  color: $fbrown;
  a {
    color: $fbrown;
  }
}

#work-collabo {
  background: $grey;
  color: $fgrey;
  a {
    color: $fgrey;
  }
}

#about-yellow,
#work-yellow,
#cv-yellow {
  background: $yellow;
  color: $fyellow;
  a {
    color: $fyellow;
  }
}

/*** end background ***/

/** 
 * start about page 
 */

#about-brown,
#about-yellow {
  min-height: 100%;
  #info {
    margin-bottom: 2em;
    width: 70%;
    h1 {
      border-bottom: 1px solid #000;
      font-size: 2.3vw;
      padding-bottom: .2em;
    }
    h2 {
      font-size: 1.8vw;
      font-style: italic;
      padding-top: .5em;
      text-transform: uppercase;
    }
  }
  #info-contact {
    border-bottom: 3px solid #000;
    border-top: 1px solid #000;
    margin-bottom: 2em;
    padding: 1em 0;
    h3 {
      font-style: 1.1em;
      padding-bottom: 0.2em;
      #email {
        font-family: helvetica;
        font-weight: 400;
        text-decoration: none;
        text-transform: lowercase;
      }
      .mobile {
        font-family: helvetica;
        font-weight: 400;
      }
    }
  }
  #info-desc {
    h4 {
      font-size: 1.4em;
    }
    p {
      font-size: 1.2em;
      margin-top: 1em;
    }
    #download {
      text-decoration: none;
    }
  }
}

#about-brown {
  #info {
    h1 {
      border-color: $fbrown;
    }
  }
  #info-contact {
    border-color: $fbrown;
  }
}

#about-yellow {
  #info {
    h1 {
      border-color: $fyellow;
    }
  }
  #info-contact {
    border-color: $fyellow;
  }
}



/** 
 * start work page 
 */

#work-brown,
#work-collabo,
#work-yellow {
  min-height: 100%;
  .work {
    margin-bottom: 4em;
  }
  .work:nth-of-type(even) {
    padding-right: 1.5em;
  }
  .work:nth-of-type(odd) {
    padding-left: 1.5em;
  }
  img {
    width: 100%;
  }
  .brief {
    cursor: pointer;
    display: block;
    div {
      border-top: 1px solid #000;
    }
    h2 {
      width: 50%;
      display: block;
      float: left;
      font-size: 1em;
      font-style: italic;
      margin-bottom: .8em;
      span {
        border-bottom: 3px solid #000;
        display: block;
        font-weight: 400;
        padding: .7em;
        text-transform: uppercase;
      }
    }
    p {
      display: block;
      float: left;
      font-size: .9em;
      /*height: 150px;*/
      height: auto;
      overflow: hidden;
      padding: .8em .8em .8em 1.6em;
      width: 50%;
    }
  }
  h1 {
    margin-bottom: 2em;
  }
}

#work-brown {
  background: $brown;
  color: $fbrown;
  .brief {
    div {
      border-color: $fbrown;
    }
    h2 span {
      border-color: $fbrown;
    }
  }
}

/* test - can remove*/
/*#work-brown .brief p {
  height: auto;
  text-align: right;
}*/

#work-collabo {
  background: $grey;
  color: $fgrey;
  .brief {
    div {
      border-color: $fgrey;
    }
    h2 span {
      border-color: $fgrey;
    }
  }
}

#work-yellow {
  background: $yellow;
  color: $fyellow;
  .brief {
    div {
      border-color: $fyellow;
    }
    h2 span {
      border-color: $fyellow;
    }
  }
}

.video-wrapper {
  text-align: center;
  width: 100%;
  video {
    height: 540px;
    width: 720px;
  }
}

.audio-wrapper {
  text-align: center;
  width: 100%;
}
/* end work page */

/** 
 * start cv page 
 */
#cv-brown,
#cv-yellow {
  min-height: 100%;
  h1 {
    border-bottom: 1px solid $fbrown;
    margin-left: .5em;
    margin-right: .5em;
    padding-bottom: 2em;
  }
  .annual {
    padding: 1em;
    h2 {
      border-bottom: 3px solid $fbrown;
      border-top: 1px solid $fbrown;
      font-weight: 100;
      margin-bottom: 1em;
      margin-top: .5em;
      padding-bottom: 1em;
      padding-left: .5em;
      padding-top: 1em;
    }
    div {
      padding-left: .5em;
      h3,
      p {
        text-transform: uppercase;
      }
      h3 {
        font-weight: 400;
        margin-bottom: .2em;
        margin-top: 1em;
      }
      p {
        font-family: 'MinionPro';
      }
    }
  }
  .line-lg h2 {
    border-top: none;
    padding-top: 0;
  }
}

#cv-brown {
  h1 {
    border-color: $fbrown;
  }
  .annual {
    h2 {
      border-color: $fbrown;
    }
  }
}

#cv-yellow {
  h1 {
    border-color: $fyellow;
  }
  .annual {
    h2 {
      border-color: $fyellow;
    }
  }
}

#detail {
  p,
  img {
    margin-bottom: 4em;
  }
  img:last-child {
    margin-bottom: 2em;
  }
}
/* svg */
.icon {
  height: 32px;
  width: 32px;
  margin: 0;
  fill: $yellow;
}
.icon.is-check{
  fill: #FE4365;
}

.icon.is-outlined{
  stroke:  #FE4365;
  stroke-width: 2px;
  fill: transparent;
}

.icon.is-x2{
  width: 10%;
  height: 10%;
}

.icon.is-hoverable:hover{
  fill: #FE4365;
  cursor: pointer;
}

.icon.is-activeable:active{
  transform: scale(1.25);
  cursor: pointer;
}

.icon.is-pink--onhover:hover{
  fill: pink;
}

.icon.is-transit{
   -webkit-transition: all .35s ease-out;
  -moz-transition: all .35s ease-out;
  -ms-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out;
}


@media screen and (min-width: 1024px) {
  #cv-brown,
  #cv-yellow {
    .line-lg h2 {
      border-top: none;
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  #about-brown,
  #about-yellow {
    #info {
      h1 {
        font-size: 1.7em;
        height: auto;
      }
      h2 {
        font-size: 1.4em;
      }
    } 
  }
  #cv-brown {
    .line-lg.line-md h2 {
      border-top: 1px solid $fbrown;
      padding-top: 1em;
    }
  }
  #cv-yellow {
    .line-lg.line-md h2 {
      border-top: 1px solid $fyellow;
      padding-top: 1em;
    }
  }
  .sections {
    padding: 3em 5em;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  #about-brown,
  #about-yellow {
    #info {
      h1 {
        font-size: 1.8em;
        height: auto;
      }
      h2 {
        font-size: 1.4em;
      }
    } 
  }
  #main-tabs > a {
    height: 15vw;
    width: 15vw;
  }
  .sections {
    padding: 2em 6em;
  }
  #work-brown,
  #work-collabo,
  #work-yellow {
    .work:nth-of-type(even) {
      padding-right: 0;
    }
    .work:nth-of-type(odd) {
      padding-left: 0;
    }
    .brief {
      h2 {
        width: 100%;
      }
      p {
        height: auto;
        padding-left: .8em;
        padding-top: 0;
        width: 100%;
      }
    }
  }
  #cv-brown, 
  #cv-yellow {
    .sections {
      padding: 2em 4em;
    }
  }
  .video-wrapper {
    video {
      height: 360px;
      width: 480px;
    }
  }
}

/* mobile */
@media screen and (max-width: 568px) {
  nav {
    right: 0;
    top: 0;
  }
  #sidebar {
    box-shadow: -1px 0 5px rgba(0,0,0,.3);
    height: 100%;
    padding-top: 4em;
    position: absolute;
    -webkit-transition: right ease-out .25s;
    transition: right ease-out .25s;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  #closebutton {
    right: .5em;
    top: .5em;
  }  
  #sidebar.ng-hide {
    right: -200px;
  }  
  #sidebar.ng-hide-add, 
  #sidebar.ng-hide-remove {
    display:block!important;
  }
  #cv-brown {
    .line-lg.line-sm h2 {
      border-top: 1px solid $fbrown;
      padding-top: 1em;
    }
  }
  #cv-yellow {
    .line-lg.line-sm h2 {
      border-top: 1px solid $fyellow;
      padding-top: 1em;
    }
  }
  #main-tabs > a {
    height: 20vw;
    width: 20vw;
  }
  .sections {
    padding: 2em 3em;
  }
  #cv-brown .sections,
  #cv-yellow .sections {
    padding: 2em;
    /*.annual {
      h2 {
        padding-left: 0;
      }
      div {
        padding-left: 0;
      }
    }*/
  }
  #work-brown,
  #work-collabo,
  #work-yellow {
    .work {
      &.col1 {
        padding-right: 0;
      }
      &.col2 {
        padding-left: 0;
      }
    }
  }
  #work-brown .brief,
  #work-collabo .brief,
  #work-yellow .brief {
    h2 {
      width: 100%;
      span {
        padding-left: 0;
      }
    }
    p {
      padding-left: 0;
      padding-top: 0;
      width: 100%;
    }
  }
  #detail {
    p,
    img {
      margin-bottom: 3em;
    }
    img:last-child {
      margin-bottom: 1em;
    }
  }
  .video-wrapper {
    video {
      height: auto;
      width: 100%;
    }
  }
}

#detail {
  -webkit-transform: scale(.7, .7);
  -moz-transform: scale(.7, .7);
  &.show {
    -webkit-transform: scale(1, 1);
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transform: scale(1, 1);
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease-out;
  }
}
.icon-cross {
  font-size: 38px;
  transition: color 0.2s ease-out;
}