@font-face {
  font-family: 'MinionPro';
  src: url('./../fonts/MinionPro-Regular.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('./../fonts/Futura1.ttc');
}

@font-face {
  font-family: 'FuturaRennerL';
  src: url('./../fonts/FuturaRenner-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaRennerR';
  src: url('./../fonts/FuturaRenner-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}