@font-face {
  font-family: 'MinionPro';
  src: url('./../fonts/MinionPro-Regular.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('./../fonts/Futura1.ttc');
}

@font-face {
  font-family: 'FuturaRennerL';
  src: url('./../fonts/FuturaRenner-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaRennerR';
  src: url('./../fonts/FuturaRenner-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('./../fonts/icomoon.eot?tvxda3');
  src:url('./../fonts/icomoon.eot?#iefixtvxda3') format('embedded-opentype'),
    url('./../fonts/icomoon.woff?tvxda3') format('woff'),
    url('./../fonts/icomoon.ttf?tvxda3') format('truetype'),
    url('./../fonts/icomoon.svg?tvxda3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reorder:before {
  content: "\e60d";
}
