<div id='about-brown'>
  <div class='pure-g sections'>
    <div class='pure-u-1 pure-u-md-1-4 pure-u-lg-1-4'>
      <div id='info'>
        <h1 class='futura up'>Nikhil<br>Panjwani</h1>
        <h2 class='minion'>Associate Creative Director</h2>
      </div>
    </div>
    <div class='pure-u-1 pure-u-md-3-4 pure-u-lg-3-4'>
      <div id='info-contact' class='futura up'>
        <h3>Experience: Eleven years</h3>
        <h3>Email: <a id='email' href="mailto:nikhilpanjwani@me.com">nikhilpanjwani@me.com</a></h3>
        <h3>Contact: <span class='mobile'>+65 9423 9059</span></h3>
      </div>
      <div id='info-desc' class='minion'>
        <p>Nikhil’s folks had him in their late 40s. Which led him to believe he was put into this world for bigger things. At 8, a twisted neck, a fractured knee and a half-torn red towel were clear signs that he was no Superman.  Through school college, his grades consistently cautioned him against applying at NASA. Left with nothing but a bleak future, he joined advertising.</p>
        <p>And the rest as they say, is a mystery.</p>
        <p>11 years in, he has worked across Asia in 3 countries on brands like Google, Guinness, P&G, Virgin Mobile, Franklin Templeton, Colgate, and most recently, the United Nations. His work has managed to win both, the hearts of the audience as well as metals in every medium. By the time he's done with this gig, before he drops the mike, he hopes to have cracked hundreds of awesome ' i-wish-i’d-done-that' kind of ideas his folks and the world around him would be proud of.</p>
        <!-- <a id='download' href="Nikhil.docx" download><p>Download C.V.</p></a> -->
      </div>
    </div>
    <div class='pure-u-1-3'></div>
  </div>
</div>
