<div id='about-brown'>
  <div class='pure-g sections'>
    <div class='pure-u-1 pure-u-md-1-4 pure-u-lg-1-4'>
      <div id='info'>
        <h1 class='futura up'>Nikhil<br>Panjwani</h1>
        <h2 class='minion'>Associate Creative Director</h2>
      </div>
    </div>
    <div class='pure-u-1 pure-u-md-3-4 pure-u-lg-3-4'>
      <div id='info-contact' class='futura up'>
        <h3>Experience: Eleven years</h3>
        <h3>Email: <a id='email' href="mailto:nikhilpanjwani@me.com">nikhilpanjwani@me.com</a></h3>
        <h3>Contact: <span class='mobile'>+65 9423 9059</span></h3>
      </div>
      <div id='info-desc' class='minion'>
        <h3>11 years of experience across markets like India, Malaysia & Singapore.</h3>
        <p>Nikhil's folks had him in their late 40s. As a result, he was born with a false sense of a higher purpose. Believing he was meant for something more.</p>
        <p>At 8, a twisted neck, a fractured knee and a half-torn red towel were clear signs that he was no Superman. Which could only mean one thing: he was a late-blooming genius who would cure cancer, invent space-light travel, and/or be the next 'ism' in the arts. Unfortunately, his grades eluded to the contrary. Left with nothing but a bleak future ahead of him, he joined advertising. And the rest as they say, is a mystery.</p>
        <p>11 years in, he still wonders every day, how the hell has he gotten away with having so much fun, and not been fired. By the time he's done with this gig, before he drops the mike, he hopes to have cracked hundreds of awesome ' i-wish-i'd-done-that' kind of ideas his folks and the world around him would be proud of.</p>
        <!-- <a id='download' href="Nikhil.docx" download><p>Download C.V.</p></a> -->
      </div>
    </div>
    <div class='pure-u-1-3'></div>
  </div>
</div>