<div id='about-yellow'>
  <div class='pure-g sections'>
  	<div class='pure-u-1 pure-u-md-1-5 pure-u-lg-1-5'>
  		<div id='info'>
        <h1 class='futura up'>Gary<br>Lim</h1>
        <h2 class='minion'>Sr. Art Director</h2>
      </div>
  	</div>
  	<div class='pure-u-1 pure-u-md-4-5 pure-u-lg-2-5'>
  		<div id='info-contact' class='futura up'>
  			<h3>Experience: Eight years</h3>
  			<h3>Email: <a id='email' href="mailto:garylty@hotmail.com">garylty@hotmail.com</a></h3>
  			<h3>Contact: <span class='mobile'>+65 9109 8321</span></h3>
  		</div>
  		<div id='info-desc' class='minion'>
  			<h4>8 years of experience in advertising. 28 years in Life.</h4>
        <h4>Designer by choice. Art Director by profession.</h4>
        <p>In 2007, Gary stepped out of art school and into BBDO Malaysia.</p>
        <p>Incidentally, that year, his work for Jeep won every metal worth its weight making it the most awarded campaign in the world.</p>
        <p>4 years and a short flight later, he landed at DDB Singapore. Picking more metal for ground-breaking, category-shifting, media agnostic work along the way.</p>
        <p>In his 8-yr career, he has worked for clients like KFC, Mini Cooper, Visa, Pepsi, Olympus, DHL, Fedex,  Snickers, Guinness and most recently, the UN.</p>
        <p>These days, he spends most of his time at BBDO Singapore doing ads.</p>
        <p>And in his free time, he's doing, well, more ads.</p>
        <p>If it wasn't advertising, he'd be involved in something more respectable. Like nouveau-porn.</p>
        <!-- <a id='download' href="GaryLim.pdf" download><p>Download C.V.</p></a> -->
  		</div>
  	</div>
  	<div class='pure-u-1-3'></div>
  </div>
</div>