<div id='cv-brown'>
  <div class='pure-g sections'>
  	<div class='pure-u-1'><h1 class='futura up'>ACHIEVEMENTS</h1></div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual line-lg">
        <h2>World Under Water</h2>
        <div>
          <h3>FWA</h3>
          <p>Top 3 Projects of the Year</p>
          <h3>Spikes</h3>
          <p>2 Bronzes</p>
          <h3>Cannes Lions</h3>
          <p>1 Merit</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual line-lg line-sm">
        <h2>Guinness GDBI</h2>
        <div>
          <h3>Clio</h3>
          <p>4 Golds</p>
          <p>3 Silvers</p>
          <p>3 Bronze</p>
          <p>1 Merit</p>
          <h3>Spikes</h3>
          <p>1 Gold</p>
          <p>4 Silvers</p>
          <p>1 Bronze</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual line-lg line-md line-sm">
        <h2>Guinness</h2>
        <div>
          <h3>D&AD</h3>
          <p>3 Silver</p>
          <h3>One Show</h3>
          <p>1 Silver</p>
          <p>2 Merits</p>
          <h3>Andy Awards</h3>
          <p>2 Silvers</p>
          <h3>Adfest</h3>
          <p>1 Gold</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>DIY Packaging</h2>
        <div>
          <h3>Spikes</h3>
          <p>2 Finalists</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>Vaseline</h2>
        <div>
          <h3>Cannes</h3>
          <p>Finalist</p>
          <h3>One Show</h3>
          <p>1 Merit</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>Google</h2>
        <div>
          <h3>Spikes</h3>
          <p>1 Silver</p>
          <p>2 Bronzes</p>
          <h3>Epica</h3>
          <p>1 Silver</p>
          <h3>Cannes</h3>
          <p>Finalist</p>
          <h3>Clio</h3>
          <p>Finalist</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>Virgin Mobile</h2>
        <div>
          <h3>Spikes</h3>
          <p>1 Bronze</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>Cupid Condoms</h2>
        <div>
          <h3>Cannes</h3>
          <p>1 Silver</p>
          <h3>Adfest</h3>
          <p>1 Bronze</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>Spit Stain Graffiti Ambient</h2>
        <div>
          <h3>D&AD</h3>
          <p>In-book</p>
          <h3>Clio</h3>
          <p>1 Bronze</p>
          <h3>Cannes</h3>
          <p>Finalist</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>Colgate</h2>
        <div>
          <h3>Adfest</h3>
          <p>Grand Prix</p>
          <h3>Cannes</h3>
          <p>1 Silver</p>
          <h3>LIA</h3>
          <p>1 Silver</p>
          <h3>AWARD</h3>
          <p>1 Silver</p>
          <h3>One Show</h3>
          <p>1 Merit</p>
          <h3>Spikes</h3>
          <p>1 Silver</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>Minz Celebrity</h2>
        <div>
          <h3>Cannes</h3>
          <p>Finalist</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>Xerox</h2>
        <div>
          <h3>Cannes</h3>
          <p>Finalist</p>
        </div>
      </div>
    </div>
  </div>
</div>