<div id='cv-yellow'>
  <div class='pure-g sections'>
    <div class='pure-u-1'><h1 class='futura up'>ACHIEVEMENTS</h1></div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual line-lg">
        <h2>JEEP</h2>
        <div>
          <h3>No.1 print ad in the world in The Gunn Report 2009</h3>
          <h3>CANNES LION</h3>
          <p>1 Gold</p>
          <h3>YOUNG GUN</h3>
          <p>3 Silver</p>
          <h3>AWARD AUSTRALIA</h3>
          <p>2 Silvers</p>
          <h3>D&AD</h3>
          <p>1 Yellow Pencil</p> 
          <p>4 Silver Nominations</p>
          <p>5 In-Books</p>
          <h3>Clio</h3>
          <p>2 Gold</p>
          <h3>One show</h3>
          <p>2 Gold</p>
          <p>1 Silver</p>
          <p>1 Bronze</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual line-lg line-sm">
        <h2>&#32</h2>
        <div>
          <h3>One show design</h3>
          <p>2 Gold</p>
          <p>1 Bronze</p>
          <h3>NEW YORK FESTIVAL</h3>
          <p>1 Grand Award</p>
          <p>4 Gold</p>
          <p>1 Silver</p>
          <h3>LIA</h3>
          <p>2 Gold</p>
          <p>1 Silver</p>
          <p>2 Bronze</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual line-lg line-md line-sm">
        <h2>&#32</h2>
        <div>
          <h3>SPIKES ASIA</h3>
          <p>1 Grand Prix</p>
          <p>2 Gold</p>
          <p>1 Silver</p>
          <h3>ADFEST</h3>
          <p>3 Gold</p>
          <p>3 Silver</p>
          <h3>ART DIRECTORS CLUB</h3>
          <p>1 Gold</p>
          <h3>Andy</h3>
          <p>1 Bronze</p>
          <h3>Kancil award</h3>
          <p>10 Gold</p>
          <p>1 Silver</p>
          <p>Young Creative 2008/09</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>GUINNESS GDIB</h2>
        <div>
          <h3>CANNES LION</h3>
          <p>1 Gold</p>
          <p>4 Silver</p>
          <h3>D&AD</h3>
          <p>3 SILVER NOMINATIONS</p>
          <p>3 in-books</p>
          <h3>ONE SHOW</h3>
          <p>1 SILVER</p>
          <p>2 MERITS</p>
          <h3>ANDY AWARDS</h3>
          <p>2 SILVERS</p>
          <h3>ADFEST</h3>
          <p>1 GOLD</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>TREE RINGS</h2>
        <div>
          <h3>CANNES LION</h3>
          <p>1 BRONZE DESIGN LIONS</p>
          <h3>D&AD</h3>
          <p>In-Book</p>
          <h3>ADFEST</h3>
          <p>2 Gold</p>
          <h3>Award Australia</h3>
          <p>1 Bronze</p>
          <h3>Clio</h3>
          <p>1 Bronze</p>
          <h3>LIA</h3>
          <p>1 Bronze</p>            
          <h3>CCA</h3>
          <p>2 Silver</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>Pepsi Longest Dribble</h2>
        <div>
          <h3>ASIAN MARKETING EFFECTIVENESS (AME)</h3>
          <p>1 GOLD (BEST SMALL BUDGET)</p>
          <p>1 BRONZE (MOST EFFECTIVE EVENT MARKETING)</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>OLYMPUS CHEETAH / JUSTIN</h2>
        <div>
          <h3>CANNES LION</h3>
          <p>1 Bronze (Radio)</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>MINI FUN CORNERS</h2>
        <div>
          <h3>Spikes Asia</h3>
          <p>1 BRONZE (OUTDOOR-CAMPAIGN)</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>MERCEDES SIGNS</h2>
        <div>
          <h3>CCA</h3>
          <p>2 BRONZE</p>
        </div>
      </div>
    </div>
  </div>
</div>