<div id='cv-yellow'>
  <div class='pure-g sections'>
  	<div class='pure-u-1'><h1 class='futura up'>ACHIEVEMENTS</h1></div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual line-lg">
        <h2>2008</h2>
        <div>
          <h3>Cannes Lion</h3>
          <p>1 Gold (Outdoor)</p>
          <h3>Kancil award</h3>
          <p>10 Gold</p>
          <p>1 Silver</p>
          <p>Young Creative 2008/09</p>
          <h3>Young gun</h3>
          <p>3 Silver (Outdoor Posters & Campaigns)</p>
          <h3>Award Australia</h3>
          <p>2 Silver (Posters)</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual line-lg line-sm">
        <h2>2009</h2>
        <div>
          <h3>D&AD</h3>
          <p>1 Yellow Pencil (Art Direction/Poster)</p> 
          <p>4 Silver Nominations</p>
          <p>5 In-Books</p>
          <h3>Clio</h3>
          <p>2 Gold (Poster & Print)</p>
          <h3>One show design</h3>
          <p>2 Gold (P.O.P. & In-store Single, Campaign)</p>
          <p>1 Bronze (P.O.P. & In-store Single)</p>
          <h3>ONE SHOW</h3>
          <p>2 Gold (P.O.P. & In-store Campaign, Print-Campaign)</p>
          <p>1 Silver (P.O.P. & In-store Campaign)</p>
          <p>1 Bronze (P.O.P. & In-store Single)</p>
          <h3>NEW YORK FESTIVAL</h3>
          <p>1 Grand Award (Print-Advertising in All Media)</p>
          <p>4 Gold (Outdoor, Print)</p>
          <p>1 Silver (Outdoor)</p>
          <h3>LIA</h3>
          <p>2 Gold (P.O.P. & In-store Single, Campaign, Print)</p>
          <p>1 Silver (P.O.P. & In-store Single)</p>
          <p>2 Bronze (P.O.P. & In-store Single, Print)</p>
          <h3>SPIKES ASIA</h3>
          <p>1 Grand Prix (Print-Camapaign)</p>
          <p>2 Gold (Outdoor-Camapaign, Craft-Campaign)</p>
          <p>1 Silver (Design)</p>
          <p>1 Bronze (Outdoor-Campaign)</p>
          <h3>ADFEST</h3>
          <p>3 Gold (Poster, Print)</p>
          <p>3 Silver (Poster, Print)</p>
          <h3>ART DIRECTORS CLUB</h3>
          <p>1 Gold (Print-Campaign)</p>
          <h3>ASIAN MARKETING EFFECTIVENESS (AME)</h3>
          <p>1 Gold (Best Small Budget)</p>
          <p>1 Bronze (Most Effective Event Marketing)</p>
          <h3>Andy</h3>
          <p>1 Bronze (Poster)</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual line-lg line-md line-sm">
        <h2>2011</h2>
        <div>
          <h3>Cannes Lion</h3>
          <p>1 Bronze Design Lions (Graphic Design & Design Craft/Posters-Single)</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>2012</h2>
        <div>
          <h3>D&AD</h3>
          <p>In-Book (Illustration for Advertising)</p>
          <h3>ADFEST</h3>
          <p>2 Gold (Single for Art Direction, Single for Best Use of Illustration)</p>
          <h3>Award Australia</h3>
          <p>1 Bronze (Poster & Outdoor and Art Direction)</p>
          <h3>Clio</h3>
          <p>1 Bronze (Poster Design)</p>
          <h3>LIA</h3>
          <p>1 Bronze (Design & Poster)</p>            
          <h3>CCA</h3>
          <p>2 Silver (Craft, Poster Design)</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>2013</h2>
        <div>
          <h3>CCA</h3>
          <p>2 Bronze (Outdoor & Poster, Free Format Posters-indoor use)</p>
        </div>
      </div>
    </div>
  </div>
</div>