<div id='cv-yellow'>
  <div class='pure-g sections'>
  	<div class='pure-u-1'><h1 class='futura up'>Title</h1></div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual line-lg">
        <h2>2007</h2>
        <div>
          <h3>Cannes Lion</h3>
          <p>1 Gold</p>
          <h3>Award</h3>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <h3>Clio</h3>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <p>1 Gold</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual line-lg line-sm">
        <h2>2008</h2>
        <div>
          <h3>Cannes Lion</h3>
          <p>1 Gold</p>
          <h3>Award</h3>
          <p>1 Gold</p>
          <p>3 Silver</p>
          <h3>Clio</h3>
          <p>1 Gold</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual line-lg line-md line-sm">
        <h2>2009</h2>
        <div>
          <h3>Cannes Lion</h3>
          <p>1 Gold</p>
          <h3>Award</h3>
          <p>1 Gold</p>
          <h3>Clio</h3>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <p>1 Gold</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>2010</h2>
        <div>
          <h3>Cannes Lion</h3>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <h3>Award</h3>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <h3>Clio</h3>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <p>1 Gold</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="annual">
        <h2>2011</h2>
        <div>
          <h3>Cannes Lion</h3>
          <p>1 Gold</p>
          <h3>Award</h3>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <h3>Clio</h3>
          <p>1 Gold</p>
          <p>1 Gold</p>
          <p>1 Gold</p>
        </div>
      </div>
    </div>
  </div>
</div>