<div class='pure-g' id='main'>
	<div id='main-tabs'>
		<a href='#/work/gary' id='tabs-gaps' title="Gary's work">
			<svg class="icon is-x2 is-hoverable is-activeable is-transit" viewBox="0 0 32 32">
  			<use xlink:href="#yellow"></use>
			</svg>
		</a>
		<a href='#/works' id='tabs-dickies' title='collaboration'>
			<svg class="icon is-x2 is-hoverable is-activeable is-transit" viewBox="0 0 32 32">
  			<use xlink:href="#grey"></use>
			</svg>
		</a>
		<a href='#/work/nikhil' id='tabs-oracles' title="Nikhil's work">
			<svg class="icon is-x2 is-hoverable is-activeable is-transit" viewBox="0 0 32 32">
  			<use xlink:href="#brown"></use>
			</svg>
		</a>
	</div>
</div>