<div class='pure-g' id='main'>
	<div id='main-tabs'>
		<a href='#/gaps' id='tabs-gaps'>
			<svg class="icon is-x2 is-hoverable is-activeable is-transit" viewBox="0 0 32 32">
  			<use xlink:href="#yellow"></use>
			</svg>
		</a>
		<a href='#/dickies' id='tabs-dickies'>
			<svg class="icon is-x2 is-hoverable is-activeable is-transit" viewBox="0 0 32 32">
  			<use xlink:href="#grey"></use>
			</svg>
		</a>
		<a href='#/oracles' id='tabs-oracles'>
			<svg class="icon is-x2 is-hoverable is-activeable is-transit" viewBox="0 0 32 32">
  			<use xlink:href="#brown"></use>
			</svg>
		</a>
	</div>
</div>