<div id='oracles'>
  <div class='pure-g sections'>
  	<div class='pure-u-1'><h1 class='futura up'>Achiverras</h1></div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="l-box">
        <h2>2008</h2>
        <div>
          <h3>title h3</h3>
          <p>Im super creative</p>
          <p>Im super creative</p>
          <h3>title h3</h3>
          <p>So am I</p>
          <h3>title h3</h3>
          <p>Im super creative</p>
          <p>Im super creative</p>
          <p>Im super creative</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="l-box">
        <h2>2009</h2>
        <div>
          <h3>title h3</h3>
          <p>Im super creative</p>
          <p>Im super creative</p>
          <h3>title h3</h3>
          <p>So am I</p>
          <h3>title h3</h3>
          <p>Im super creative</p>
          <p>Im super creative</p>
          <p>Im super creative</p>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3">
      <div class="l-box">
        <h2>2010</h2>
        <div>
          <h3>title h3</h3>
          <p>Im super creative</p>
          <p>Im super creative</p>
          <h3>title h3</h3>
          <p>So am I</p>
          <h3>title h3</h3>
          <p>Im super creative</p>
          <p>Im super creative</p>
          <p>Im super creative</p>
        </div>
      </div>
    </div>
  </div>
</div>