<div id='work-collabo'>
  <div class='pure-g sections' id='detail'>
    <div class='pure-u-1'><h1 class='futura up'>Title</h1></div>
    <div class='pure-u-1'><p class='futura'>Ut has labores consequuntur Ut has labores consequuntur Ut has labores consequuntur has labores consequuntur Ut has labores consequuntur Ut has labores consequuntur has labores consequuntur Ut has labores consequuntur Ut has labores consequuntur has labores consequuntur Ut has labores consequuntur Ut has labores consequuntur has labores consequuntur Ut has labores consequuntur Ut has labores consequuntur</p></div>
    <div class='pure-u-1 pure-u-md-1 pure-u-lg-1' >
      <img src='images/default.jpg'/>
      <img src='images/default.jpg'/>
      <img src='images/default.jpg'/>
    </div>
  </div>
</div>