<div id='work-collabo'>
  <div class='pure-u-1'>
  	<a id='closebutton' ng-class='sidebarclass' class='menu-icon' ng-click='close()'>
      <span></span>
    </a>
  </div>
  <div class='pure-g sections' id='detail'>
    <div class='pure-u-1'><p class='futura'>{{work.description}}</p></div>
    <div class='pure-u-1 pure-u-md-1 pure-u-lg-1' ng-if='work.images'>
      <img ng-repeat='(key,value) in work.images' ng-src="{{value}}" />
    </div>
    <div class='pure-u-1 pure-u-md-1 pure-u-lg-1 video-wrapper' ng-repeat='(key,value) in work.videos' ng-if='work.videos'>
      <video controls>
        <source src="{{value | mp4}}" type="video/mp4">
        <source src="{{value | webm}}" type="video/webm">
        Your browser does not support the video element.
      </video>
    </div>
    <div class='pure-u-1 pure-u-md-1 pure-u-lg-1 audio-wrapper'ng-repeat='(key,value) in work.audios' ng-if='work.audios'>
      <h4>{{key}}</h4>
      <audio controls>
        <source src="{{value}}" type="audio/mp3">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</div>