<div id='work-yellow'>
  <div class='pure-g sections'>
    <div class='pure-u-1'><h1 class='futura up'>Title</h1></div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 work" ng-repeat='item in workslistg'>
      <a class='brief' href='#/work/gary/{{item.id}}'>
        <div>
          <h2><span class='minion'>{{item.title}}</span></h2>
          <p class='futura'>{{item.description}}</p>
        </div>
        <div id='image-wrapper'>
          <img title='{{item.title}}' alt='{{item.title}}' ng-src="{{item.image}}"/>
        </div>
      </a>
    </div>
  </div>
</div>