<div id='work-collabo'>
  <div class='pure-g sections'>
    <div class='pure-u-1'><h1 class='futura up'>Collaboration</h1></div>
    <div class="pure-u-1 pure-u-sm-1 pure-u-md-1 pure-u-lg-1-2 work" ng-repeat='item in workslist'>
      <a class='brief' href='#/works/{{item.id}}'>
        <div class='bottom-line pure-g'>
          <h2 class='pure-u-1-2'>
            <span class='futura'>{{item.title}}<em style='display: block'>{{item.brand}}</em></span>
          </h2>
          <p class='pure-u-1-2 futura'>{{item.description}}</p>
        </div>
        <div class='image-wrapper'>
          <img title='{{item.title}}' alt='{{item.title}}' src="{{item.image}}"/>
        </div>
      </a>
    </div>
  </div>
</div>
